<h1 class="text-lowercase text-capitalize">Hi all</h1>
<p>The file with the most recent results of <strong>{{r.name}}</strong> has been added to the website <a href="http://e-zawody.pl/result-{{r.code}}">http://e-zawody.pl/result-{{r.code}}</a></p>
<p>I have also attached the file to the email.</p>
<p></p>
<p>In case of any questions, please let me know.</p>
<p></p>
<p>Regards, Lukasz Kowalcze<br />e-zawody.pl</p>