<!DOCTYPE html>
<html lang="pl_PL">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}e-zawody.pl{% endblock %}</title>
 
    {% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" />
    {% endblock %}
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {{ include('_inc/ga.html.twig') }}
  </head>
    <body>
        <div id="wrap">
        {{ include('_inc/menu.html.twig', {'foo' : 1}) }}
        
        <div class="container">
          <div class="row">
            <div class="col-sm-8 blog-main">
            {% block body %}{% endblock %}
            </div>

            <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
                {{ render(controller(
                    'AppBundle:Race:shortBox',
                    { 'max': 5 }
                )) }}
            </div>
          </div>
        </div>
        </div>
        <footer class="footer">
          <p>Copyright &copy; 2009-{{ "now"|date("Y") }} e-Zawody.pl</p>
        </footer>
        {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="/js/def.js"></script>
        {% endblock %}
    </body>
</html>
