{% extends 'layout.html.twig' %}

{% block body %}
    <h1>{{ 'race.shortbox.last'|trans }}</h1>
    <ul class="list-unstyled">
        {% for r in race %}
        <li>
            <span class="g">{{ r.date|date('d.m.Y') }} &bull; <a href="{{ path('site_race_list_param', {'category': r.category.ctgurl, 'year': '0'}) }}">{{ r.category.ctgname }}</a></span><br />
            <h3><a href="{{ path('site_race_show', {'url': r.url}) }}" class="green">
                {{ r.name }}
            </a></h3>
        </li>
        {% endfor %}
    </ul>
{% endblock %}