{% extends 'admin.html.twig' %}

{% block title %}Panel administracyjny - {{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/jquery.datetimepicker.css') }}">
{% endblock %}
{% block body %}
<div style="margin:10px 0;">
<ul class="nav nav-tabs" >
    <li class="active"><a href="{{ path('site_admin_index') }}">Races</a></li>
    <li><a href="{{ path('site_admin_add') }}">Add Race</a></li>
    <li><a href="{{ path('site_admin_userList') }}">Users</a></li>
</ul>
</div>
    <h1>{{race.name}}</h1>
    <div>
    {% if reg %}
        <h4 style="margin-top: 20px;">{{ 'race.show.reg'|trans }}:</h4>
        <ul>
        {% for f in reg %}
            <li style="font-size:1.3em"><a 
                    onClick="_gaq.push(['_trackEvent', 'Pobierz', '{{ race.name }}', '{{ f.path }}']);" 
                    href="/public{{ f.path }}"><i class="fa fa-file-pdf-o fa-1x"></i> {{ f.title }} 
                    {#<i class="fa fa-download fa-1x"></i>#}</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
    </div>
    <div>
    {% if files %}
        <h4 style="margin-top: 20px;">{{ 'race.result.download'|trans }}:</h4>
        <ul>
        {% for f in files %}
            <li style="font-size:1.3em"><a 
                    onClick="_gaq.push(['_trackEvent', 'Pobierz', '{{ race.name }}', '{{ f.path }}']);" 
                    href="/public{{ f.path }}">{{ f.path }} 
                    {#<i class="fa fa-download fa-1x"></i>#}</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
    </div>
    
    {{ form_start(form, {'attr': {'role': 'form'}}) }}
        {{ form_errors(form) }}
        <div class="form-group">{{ form_row(form.title, {'attr': {'class': 'form-control'}}) }}</div>
        <div class="form-inline" style="margin:10px 0;">
            <div class="form-group">{{ form_row(form.path, {'attr': {'class': 'form-control'}}) }}</div>
            <div class="form-group">{{ form_row(form.ftype, {'attr': {'class': 'form-control'}}) }}</div>
        </div>
        <div class="form-group">{{ form_row(form.save, {'attr': {'class': 'btn btn-success'}}) }}</div>
    {{ form_end(form) }}

    
    
    
{% if race.code %}
    <a href="/qr_code/res-{{ race.code }}.png"><img src="/qr_code/res-{{ race.code }}.png" /></a>
{% endif %}
    
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}