{% extends 'admin.html.twig' %}

{% block title %}Panel administracyjny - {{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/jquery.datetimepicker.css') }}">
{% endblock %}
{% block body %}
<div style="margin:10px 0;">
<ul class="nav nav-tabs" >
    <li class="active"><a href="{{ path('site_admin_index') }}">Races</a></li>
    <li><a href="{{ path('site_admin_add') }}">Add Race</a></li>
    <li><a href="{{ path('site_admin_userList') }}">Users</a></li>
</ul>
</div>
    <h1>Panel administracyjny - edytuj</h1>

    {{ form_start(form, {'attr': {'role': 'form'}}) }}
        {{ form_errors(form) }}

        <div class="form-group">{{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}</div>
        <div class="form-inline">
            <div class="form-group">{{ form_row(form.code, {'attr': {'class': 'form-control'}}) }}</div>
            <div class="form-group">{{ form_row(form.city, {'attr': {'class': 'form-control'}}) }}</div>
            <div class="form-group">{{ form_row(form.organiser, {'attr': {'class': 'form-control'}}) }}</div>
        </div>
        <div class="form-group">{{ form_row(form.info, {'attr': {'class': 'form-control'}}) }}</div>
        <div class="form-inline">
            <div class="form-group">{{ form_row(form.date, {'attr': {'class': 'form-control datepicker'}}) }}</div>
            <div class="form-group">{{ form_row(form.registration, {'attr': {'class': 'form-control datetimepicker'}}) }}</div>
            <div class="form-group">{{ form_row(form.status, {'attr': {'class': 'form-control'}}) }}</div>
            <div class="form-group">{{ form_row(form.category, {'attr': {'class': 'form-control'}}) }}</div>
        </div>
        <div class="form-inline" style="margin:10px 0;">
            <div class="form-group">{{ form_row(form.gpsLat, {'attr': {'class': 'form-control'}}) }}</div>
            <div class="form-group">{{ form_row(form.gpsLng, {'attr': {'class': 'form-control'}}) }}</div>
        </div>    
        <div class="form-group">{{ form_row(form.save, {'attr': {'class': 'btn btn-default'}}) }}</div>

    {{ form_end(form) }}
{% if race.code %}
    <a href="/qr_code/res-{{ race.code }}.png"><img src="/qr_code/res-{{ race.code }}.png" /></a>
{% endif %}
    
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.datetimepicker.full.min.js') }}"></script>
    <script src="{{ asset('js/tinymce/tinymce.min.js') }}"></script>
    <script>
    $(function() {
        $('input[type="date"]').attr('type','text');
        $('.datepicker').datetimepicker({
            format: 'Y-m-d',
            theme: 'dark',
            timepicker:false
        });
        $('.datetimepicker').datetimepicker({
            format: 'Y-m-d H:i:s',
            theme: 'dark',
            defaultTime: '23:00',
            timepickerScrollbar: false
        });
        tinymce.init({
            selector:'textarea',
            height: 330,
            plugins: "code"
        });
    });
    </script>
{% endblock %}