{% extends 'admin.html.twig' %}

{% block title %}Panel administracyjny - {{ parent() }}{% endblock %}

{% block body %}
<div style="margin:10px 0;">
<ul class="nav nav-tabs" >
    <li class="active"><a href="{{ path('site_admin_index') }}">Races</a></li>
    <li><a href="{{ path('site_admin_add') }}">Add Race</a></li>
    <li><a href="{{ path('site_admin_userList') }}">Users</a></li>
</ul>
</div>
    <div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th>Name</th>
            <th>Code</th>
            <th>City</th>
            <th>Date</th>
            <th>&nbsp</th>
        </tr>
    {% for r in race %}
        {% if r.status %}
            <tr>
        {% else %}
            <tr class="bg-danger">
        {% endif %}
            <td><a href="{{ path('site_race_show', {'url': r.url}) }}" data-toggle="tooltip" title="{{ r.name }}">{{ r.name[:67] }}</a></td>
            <td>
                {% if r.code %}
                    <a href="{{ path('site_race_result', {'code': r.code}) }}">{{ r.code }}</a>
                {% else %}
                    {{ r.code }}
                {% endif %}
            </td>
            <td>
                {% if r.gpsLat and r.gpsLng %}
                    <a href="https://www.google.com/maps/dir/Current+Location/{{ r.gpsLat }},{{ r.gpsLng }}" target="_blank">{{ r.city }}&nbsp;<i class="fa fa-map-marker"></i></a>
                {% else %}
                    {{ r.city }}
                {% endif %}
            </td>
            <td>{{ r.date|date('d.m.Y') }}</td>
            <td>
                <a href="{{ path('site_admin_editFile', {'id': r.raceId}) }}" title="Edit files" data-toggle="tooltip"><i class="fa fa-files-o"></i></a>
                <a href="{{ path('pdf_registeredPlayer', {'id': r.raceId}) }}" title="Download subscribed players" data-toggle="tooltip"><i class="fa fa-download"></i></a>
                <a href="#" data-toggle="modal" data-target="#modalSignd" data-rname="{{ r.name }}" data-rid="{{ r.raceId }}"><i class="fa fa-bicycle" title="Preview subscribed players" data-toggle="tooltip"></i></a>
                <a href="{{ path('site_admin_edit', {'id': r.raceId}) }}" title="Edit race" data-toggle="tooltip"><i class="fa fa-pencil-square-o"></i></a>
                <a href="{{ path('site_admin_del', {'id': r.raceId}) }}" title="Delete race" data-toggle="tooltip" class="confirm"><i class="fa fa-trash-o"></i></a>
            </td>
        </tr>
    {% endfor %}
    </table>
    </div>
    <p><a href="{{ path('site_admin_add') }}">Add race</a></p>

    
<div class="modal fade" id="modalSignd" tabindex="-1" role="dialog" aria-labelledby="modalSigndLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'user.upc.close'|trans }}"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalSignInLabel"></h4>
      </div>
      <div class="modal-body" id="pra">
          <p class="text-center"><i class="fa fa-circle-o-notch fa-spin fa-3x"></i></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
    $(function() {
        
        $("#modalSignd").on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var modal = $(this);
            var param = {
                rid : button.data('rid'),
                rname : button.data('rname')
            };
            
            $.ajaxSetup({
                global: false,
                type: "POST",
                url: "{{ path('site_ajax_playerRaceAll') }}",
                beforeSend: function () {
                   $('#pra').html('<p class="text-center"><i class="fa fa-circle-o-notch fa-spin fa-3x"></i></p>');
                }
            });
            $.ajax({
                data: param,
                success: function (r) {
                    $('#pra').html(r);
                }
            });
            modal.find('.modal-title').text(param.rname);
        });
        
    });
    </script>
{% endblock %}