{% extends 'admin.html.twig' %}

{% block title %}Panel administracyjny - {{ parent() }}{% endblock %}

{% block body %}
<div style="margin:10px 0;">
<ul class="nav nav-tabs" >
    <li><a href="{{ path('site_admin_index') }}">Races</a></li>
    <li><a href="{{ path('site_admin_add') }}">Add Race</a></li>
    <li class="active"><a href="{{ path('site_admin_userList') }}">Users</a></li>
</ul>
</div>
    
    <h1>Lista użytkowników</h1>
    <div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Login</th>
            <th>e-mail</th>
            <th>Ostatnie logowanie</th>
            <th>Uprawnienia</th>
            <th>Status</th>
            <th>Akcje</th>
        </tr>
    {% for u in user %}
        <tr>
            <td>{{ u.id }}</td>
            <td>{{ u.username }}</td>
            <td>{{ u.email }}</td>
            <td>{% if u.lastLogin %}{{ u.lastLogin|date('d.m.Y H:i:s') }}{% endif %}</td>
            <td>{% for r in u.roles %}{{ r }}<br />{% endfor %}</td>
            <td>{% if u.enabled %}Enables{% else %}Disabled{% endif %}</td>
            <td>
                <a href="#" data-toggle="modal" data-target="#modalMerged" data-uemail="{{ u.email }}" data-uid="{{ u.id }}"><i class="fa fa-bicycle" title="Preview merged players" data-toggle="tooltip"></i></a>
                <a href="" ><i class="fa fa-pencil-square-o" title="User Roles" data-toggle="tooltip"></i></a></a>
            </td>
        </tr>
    {% endfor %}
    </table>
    </div>

<div class="modal fade" id="modalMerged" tabindex="-1" role="dialog" aria-labelledby="modalSigndLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalSignInLabel"></h4>
      </div>
      <div class="modal-body" id="pra">
          <p class="text-center"><i class="fa fa-circle-o-notch fa-spin fa-3x"></i></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
    $(function() {
        
        $("#modalMerged").on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var modal = $(this);
            var param = {
                id : button.data('uid'),
                uemail : button.data('uemail')
            };
            
            $.ajaxSetup({
                global: false,
                type: "POST",
                url: "{{ path('site_ajax_userPlayerList') }}",
                beforeSend: function () {
                   $('#pra').html('<p class="text-center"><i class="fa fa-circle-o-notch fa-spin fa-3x"></i></p>');
                }
            });
            $.ajax({
                data: param,
                success: function (r) {
                    $('#pra').html(r);
                }
            });
            modal.find('.modal-title').text(param.uemail);
        });
        
    });
    </script>
{% endblock %}