{% extends 'layout.html.twig' %}

{% block body %}
    <h1>{{ 'race.list.result'|trans }}</h1>
    <p class="text-center">
        <a href="{{ path('site_race_list') }}" class="btn btn-primary btn-lg active">{{ 'race.list.all'|trans }}</a>
        <a href="{{ path('site_race_list_param', {'category': 'mtb', 'year': '0'}) }}" class="btn btn-primary btn-lg active">{{ 'race.list.mtb'|trans }}</a>
        <a href="{{ path('site_race_list_param', {'category': 'szosa', 'year': '0'}) }}" class="btn btn-primary btn-lg active">{{ 'race.list.road'|trans }}</a>
        <a href="{{ path('site_race_list_param', {'category': 'przelaj', 'year': '0'}) }}" class="btn btn-primary btn-lg active">{{ 'race.list.cx'|trans }}</a>
    </p>
    <ul class="list-unstyled">
        {% for r in race %}
        <li>
            <span class="g">{{ r.date|date('d.m.Y') }} &bull; <a href="{{ path('site_race_list_param', {'category': r.category.ctgurl, 'year': '0'}) }}">{{ r.category.ctgname }}</a></span><br />
            <h3><a href="{{ path('site_race_show', {'url': r.url}) }}" class="green">
                {{ r.name }}
            </a></h3>
        </li>
        {% endfor %}
    </ul>
{% endblock %}