{% extends 'layout.html.twig' %}

{% block title %}{{ race.name }} - {{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h1 class="text-lowercase text-capitalize">{{ race.name }}</h1>
    <span class="g">{{ race.date|date('d.m.Y') }} &bull; <a href="{{ path('site_race_list_param', {'category': race.category.ctgurl, 'year': '0'}) }}">{{ race.category.ctgname }}</a></span><br />
    <div>
    {% if file %}
        <h4 style="margin-top: 20px;">{{ 'race.result.download'|trans }}:</h4>
        <ul>
        {% for f in file %}
            <li style="font-size:1.3em"><a 
                    onClick="_gaq.push(['_trackEvent', 'Pobierz', '{{ race.name }}', '{{ f.path }}']);" 
                    href="/public{{ f.path }}"><i class="fa fa-file-pdf-o fa-1x"></i> {{ f.title }} 
                    {#<i class="fa fa-download fa-1x"></i>#}</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
    </div>

    {% if rally %}
    <h4 style="margin-top: 20px;">{{ 'race.result.result'|trans }}:</h4>
    <div class="container-fluid etab">
    <ul id="tabs" class="nav nav-tabs" >
        {% for ry in rally %}
            <li {% if loop.index == 1 %}class="active"{% endif %}><a href="#c-{{ ry.rallyId }}" data-url="{{ path('site_ajax_showResult', {'id': ry.rallyId}) }}">{{ ry.name }}</a></li>
        {% endfor %}
    </ul>
    <div class="tab-content">
    {% for ry in rally %}
        <div class="tab-pane {% if loop.index == 1 %}active{% endif %}" id="c-{{ ry.rallyId }}"></div>
    {% endfor %}
    </div>
    </div>
    {% else %}
        <div class="alert alert-warning">
            <p>{{ 'race.result.no_result'|trans }}</p>
        </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/bootstrap-tabdrop.js') }}"></script>
    <script>
    $(function() {
        $('.nav-pills, .nav-tabs').tabdrop({text: '{{ 'race.result.more'|trans }}'});
        $('#tabs a').click(function (e) {
            e.preventDefault();
            var url = $(this).attr("data-url");
            var href = this.hash;
            var pane = $(this);
            $(href).load(url, function(result){      
                pane.tab('show');
            });
        });
        $('.tab-pane:first').load($('.active a').attr("data-url"), function(result){
            $('.active a').tab('show');
        });
    });
    </script>
{% endblock %}