{# app/Resources/views/news/short_box.html.twig #}
<div class="short-box">
<h4>{{ 'race.shortbox.last'|trans }}</h4>
<ul class="list-unstyled">
{% for r in race_last %}
    <li><span>{{ r.date|date('d.m.Y') }}</span><br />
        <a href="{{ path('site_race_show', {'url': r.url}) }}">
        {{ r.name }}
    </a></li>
{% endfor %}
</ul>
</div>

<div class="short-box">
<h4>{{ 'race.shortbox.upc'|trans }}</h4>
<ul class="list-unstyled">
{% for r in race_upc %}
    <li><span>{{ r.date|date('d.m.Y') }}</span><br />
        <a href="{{ path('site_race_show', {'url': r.url}) }}">
        {{ r.name }}
    </a></li>
{% endfor %}
</ul>
</div>
<br />
