{% extends 'layout.html.twig' %}

{% block title %}{{ race.name }} - {{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h1 class="text-lowercase text-capitalize">{{ race.name }}</h1>
    <div class="row">
        <div class="col-md-7">
            <span class="g">{{ race.date|date('d.m.Y') }} &bull; <a href="{{ path('site_race_list_param', {'category': race.category.ctgurl, 'year': '0'}) }}">{{ race.category.ctgname }}</a></span><br />
        </div>
        <div class="col-md-5 text-right">
            {% if race.registration > date('now') %}
            <a href="{{ path('panel_user_upc') }}" class="btn btn-success"><i class="fa fa-sign-in"></i> {{ 'race.show.register'|trans }}</a>
            {% endif %}
            {% if race.code and rally %}
            <a href="{{ path('site_race_result', {'code': race.code}) }}" class="btn btn-info"><i class="fa fa-sign-in"></i> {{ 'race.show.result'|trans }}</a>
            {% endif %}            
        </div>
    </div>
    <div>
    {% if reg %}
        <h4 style="margin-top: 20px;">{{ 'race.show.reg'|trans }}:</h4>
        <ul>
        {% for f in reg %}
            <li style="font-size:1.3em"><a 
                    onClick="_gaq.push(['_trackEvent', 'Pobierz', '{{ race.name }}', '{{ f.path }}']);" 
                    href="/public{{ f.path }}"><i class="fa fa-file-pdf-o fa-1x"></i> {{ f.title }} 
                    {#<i class="fa fa-download fa-1x"></i>#}</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
    </div>
    <div>
    {% if file %}
        <h4 style="margin-top: 20px;">{{ 'race.show.download'|trans }}:</h4>
        <ul>
        {% for f in file %}
            <li style="font-size:1.3em"><a 
                    onClick="_gaq.push(['_trackEvent', 'Pobierz', '{{ race.name }}', '{{ f.path }}']);" 
                    href="/public{{ f.path }}"><i class="fa fa-file-pdf-o fa-1x"></i> {{ f.title }} 
                    {#<i class="fa fa-download fa-1x"></i>#}</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
    {% if race.organiser %}<h4 style="margin-top: 20px;">{{ 'race.show.organiser'|trans }}:</h4><strong>{{ race.organiser }}</strong>{% endif %}
    {% if race.info %}<h4 style="margin-top: 20px;">{{ 'race.show.info'|trans }}:</h4><div>{{ race.info | raw }}</div>{% endif %}
    </div>

    {% if race.gpsLat and race.gpsLng %}
    <div>
        <h4 style="margin-top: 20px;">{{ 'race.show.loc'|trans }}: {% if race.city %}<strong>{{ race.city }}</strong>{% endif %}</h4>
        <div id="map"></div>
        <p>
            <a href="geo:{{ race.gpsLat }},{{ race.gpsLng }}">Link do nawigacji (kliknij w ten link na swoim telefonie komórkowym)</a>
        </p>
<script type="text/javascript">
function initMap() {
    var myLatLng = {lat: {{ race.gpsLat }}, lng: {{ race.gpsLng }}};
    var map = new google.maps.Map(document.getElementById('map'), {
        center: myLatLng,
        scrollwheel: false,
        zoom: 14
    });
    var marker = new google.maps.Marker({
        map: map,
        position: myLatLng,
        title: '{{ 'race.show.office'|trans }}'
    });
    var contentString = '<div>'+
        '<h4>{{ 'race.show.office'|trans }}</h4>'+
        '</div>';
    var infowindow = new google.maps.InfoWindow({
        content: contentString
    });
    map.addListener('mouseover', function() {
        infowindow.open(map, marker);
    });
}
</script>
    </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvtgtSMQFpof3VpVsFsPKknnVfgHXtO8I&callback=initMap">
</script>
{% endblock %}