<form name="pr_form">
<input type="hidden" name="rid" value="{{ rid }}">
{% if player %}
<div class="alert-info"><small>{{ 'ajax.player_race_list.info2'|trans }}<br /></small></div>
{% for p in player %}
<div class="checkbox">
   <label>
       <input type="checkbox" name="player_row[{{ p.player_id }}]" value="{{ p.player_id }}" {% if p.rpid %}checked="checked"{% endif %}>
       {#<img src="{{ asset('img/ind.gif') }}" id="ind_{{ p.player_id }}" style="display:none; height:17px;"> #}
       <i class="fa fa-circle-o-notch fa-spin" id="ind_{{ p.player_id }}" style="display:none; height:17px;"></i>
       {{ p.country }}{{ p.date_birth|date('Ymd') }} <strong>{{ p.name }} {{ p.surname }}</strong>
   </label>
 </div>
{% endfor %}
<p  class="text-center"><a href="{{ path('panel_user_merge') }}" class="btn btn-success"><i class="fa fa-sign-in"></i> {{ 'ajax.player_race_list.create2'|trans }}</a></p>
{% else %}
    <p  class="text-center">{{ 'ajax.player_race_list.info'|trans }}</p>
    <p  class="text-center"><a href="{{ path('panel_user_merge') }}" class="btn btn-success"><i class="fa fa-sign-in"></i> {{ 'ajax.player_race_list.create'|trans }}</a></p>
{% endif %}
</form>