{% if rally.length and rally.speed %}
<div class="row">
    <div class="col-md-6">{{ 'ajax.show_result.distance'|trans }}: <strong>{{rally.length/1000}} km</strong></div>
    <div class="col-md-6 text-right">{{ 'ajax.show_result.speed'|trans }}: <strong>{{rally.speed}} km/h</strong></div>
</div>
{% endif %}
<div class="table-responsive">
<table class="table table-striped">
<tr>
    <th>{{ 'ajax.show_result.th.place'|trans }}</th>
    {#<th>{{ 'ajax.show_result.th.bib'|trans }}</th>
    <th>{{ 'ajax.show_result.th.uci_code'|trans }}</th>#}
    <th>{{ 'ajax.show_result.th.surname'|trans }} {{ 'ajax.show_result.th.name'|trans }}</th>
    {#<th>{{ 'ajax.show_result.th.team'|trans }}</th>#}
    <th class="text-right">{{ 'ajax.show_result.th.result'|trans }}</th>
    <th class="text-right">{{ 'ajax.show_result.th.diff'|trans }}</th>
</tr>
{% if result %}
{% for r in result %}
<tr>
    <td><small>{% if r.pos %}{{ r.pos }}{% endif %}</small></td>
    {#<td><small>{{ r.bib }}</small></td>
    <td><small>{{ r.code }}</small></td>#}
    <td><span class="text-uppercase pn">{{ r.surname }}</span> <span class="pn">{{ r.name }}</span><br /><small>{{ r.team }}</small></td>
    {#<td><small>{{ r.team }}</small></td>#}
    <td class="text-right"><small>{{ r.result }}</small></td>
    <td class="text-right"><small>{{ r.diff }}</small></td>
</tr>
{% endfor %}
{% else %}
<tr>
    <td class="text-center" colspan="4"></td>
</tr>
{% endif %}
</table>
</div>
{% if rally.info %}
<div class="row">
    <div class="col-md-12">{{ rally.info | raw }}</div>
</div>
{% endif %}