<table class="table table-hover table-bordered text-center">
<tr>
    <th>ID</th>
    <th>Name</th>
    <th>UCI code</th>
    <th>Date</th>
</tr>
{% if player %}
{% for p in player %}
<tr>
    <td><small>{{ loop.index }}</small></td>
    <td><small>{{ p.name }} {{ p.surname }}</small><br /><small>{{ p.team_name }}</small></td>
    <td><small>{{ p.country }}{{ p.date_birth|date('Ymd') }}</small></td>
    <td><small>{{ p.date_add|date('Y-m-d H:i') }}</small></td>
</tr>
{% endfor %}
{% else %}
<tr>
    <td class="text-center" colspan="4">Empty</td>
</tr>
{% endif %}
</table>