{% trans_default_domain 'FOSUserBundle' %}

<div>
<div class="row">
<div class="col-md-8 col-md-offset-3">
    
    <div class="panel panel-login">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-6">
                    <a href="{{ path('fos_user_security_login') }}" id="login-form-link">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                </div>
                <div class="col-xs-6">
                    <a href="{{ path('fos_user_registration_register') }}" class="active" id="register-form-link">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                </div>
            </div>
            <hr>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'form-signin'}}) }}
                    {{ form_errors(form) }}
                    <div class="form-group">{{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}</div>
                    <div class="form-group">{{ form_row(form.username, {'attr': {'class': 'form-control'}}) }}</div>
                    <div class="form-group">{{ form_row(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}</div>
                    <div class="form-group">{{ form_row(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}</div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <input type="submit" value="{{ 'registration.submit'|trans }}" class="form-control btn btn-register" />
                            </div>
                        </div>
                    </div>
                    {{ form_rest(form) }}
                {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>