{% trans_default_domain 'FOSUserBundle' %}

<div>
<div class="row">
<div class="col-md-8 col-md-offset-3">
    {% if invalid_username is defined %}
        <p class="alert alert-warning">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
    {% endif %}
    <div class="panel panel-login">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <strong>{{ 'change_password.submit'|trans }}</strong>
                </div>
            </div>
            <hr>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
{{ form_start(form, {'method': 'post', 'action': path('fos_user_change_password'), 'attr': {'class': 'fos_user_change_password'}}) }}
    {{ form_errors(form) }}
    <div class="form-group">{{ form_row(form.current_password, {'attr': {'class': 'form-control'}}) }}</div>
    <div class="form-group">{{ form_row(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}</div>
    <div class="form-group">{{ form_row(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}</div>

    <div class="form-group">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <input type="submit" value="{{ 'change_password.submit'|trans }}" class="form-control btn btn-register" />
            </div>
        </div>
    </div>
    {{ form_rest(form) }}
{{ form_end(form) }}


                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>