<h1 class="text-lowercase text-capitalize">{{ race.name }} - {{ race.city }}</h1>
<h4 style="">Data: <strong>{{ race.date|date('d.m.Y') }}</strong></h4>
{% if player %}
<h3>Zawodnicy, których zapisałeś:</h3>
<table class="table table-bordered">
<tr>
    <th width="50"><strong>Numer</strong></th>
    <th><strong>Imię i Nazwisko</strong></th>
    <th><strong>Kod UCI</strong></th>
    <th><strong>Klub</strong></th>
    <th><strong>Data zapisu</strong></th>
</tr>
{% for p in player %}
<tr>
    <td></td>
    <td>{{ p.name }} {{ p.surname }}</td>
    <td>{{ p.country }}{{ p.date_birth|date('Ymd') }}</td>
    <td>{{ p.team_name }}</td>
    <td>{{ p.dateadd|date('Y-m-d H:i') }}</td>
</tr>
{% endfor %}
</table>
{% endif %}


<div>
{% if race.organiser %}<h4 style="margin-top: 20px;">{{ 'race.show.organiser'|trans }}:</h4><strong>{{ race.organiser }}</strong>{% endif %}
{% if race.info %}<h4 style="margin-top: 20px;">{{ 'race.show.info'|trans }}:</h4><div>{{ race.info | raw }}</div>{% endif %}
</div>

{% if race.gpsLat and race.gpsLng %}
<div>
    <h3 style="margin-top: 20px;">{{ 'race.show.loc'|trans }}: {% if race.city %}<strong>{{ race.city }}</strong>{% endif %}</h3>
    <img src="https://maps.googleapis.com/maps/api/staticmap?center={{ race.gpsLat }},{{ race.gpsLng }}&zoom=14&size=600x300&maptype=roadmap&markers=color:blue%7Clabel:Biuro%7C{{ race.gpsLat }},{{ race.gpsLng }}&key=AIzaSyAvtgtSMQFpof3VpVsFsPKknnVfgHXtO8I" />
</div>
{% endif %}
