<body>
<div style="width:100%;">
<h1 class="text-lowercase text-capitalize">{{ race.name }} - {{ race.city }}</h1>

{% if player %}
<h3>Zapisani zawodnicy:</h3>
<table style="width:100%;" border="1">
<tr>
    <th width="21"><strong>Lp</strong></th>
    <th><strong>Imię i Nazwisko</strong></th>
    <th><strong>Kod UCI</strong></th>
    <th><strong>Klub</strong></th>
    <th><strong>Data zapisu</strong></th>
    <th><strong>Email</strong></th>
</tr>
{% for p in player %}
<tr>
    <td style="font-size:9px;">{{ loop.index }}</td>
    <td style="font-size:9px;">{{ p.name }} {{ p.surname }}</td>
    <td style="font-size:9px;">{{ p.country }}{{ p.date_birth|date('Ymd') }}</td>
    <td style="font-size:9px;">{{ p.team_name }}</td>
    <td style="font-size:9px;">{{ p.dateadd|date('Y-m-d H:i') }}</td>
    <td style="font-size:9px;">{{ p.email }}</td>
</tr>
{% endfor %}
</table>
{% endif %}
</div>
</body>