{% extends 'layout.html.twig' %}

{% block title %}{{ 'user.list.title'|trans }} - {{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    
{% endblock %}

{% block body %}
<div style="margin-bottom:10px;">
<ul class="nav nav-tabs" >
    <li><a href="{{ path('panel_user_merge') }}" title="{{ 'menu_panel.add'|trans }}">{{ 'menu_panel.add'|trans }}</a></li>
    <li class="active"><a href="{{ path('panel_user_list') }}" title="{{ 'menu_panel.list'|trans }}">{{ 'menu_panel.list'|trans }}</a></li>
    <li><a href="{{ path('panel_user_upc') }}" title="{{ 'menu_panel.upc'|trans }}">{{ 'menu_panel.upc'|trans }}</a></li>
</ul>
</div>
    
<h2>{{ 'user.list.title'|trans }}</h2>
<div class="row">
    <div class="col-md-6"><p><a href="{{ path('panel_user_merge') }}" class="btn btn-success"><i class="fa fa-plus"> </i> {{ 'user.list.add'|trans }}</a></p></div>
    <div class="col-md-6"><p class="text-right"><a href="{{ path('panel_user_upc') }}" class="btn btn-success"><i class="fa fa-plus"> </i> {{ 'user.list.racelist'|trans }}</a></p></div>
</div>

<div class="table-responsive">
<table class="table table-hover">
<tr>
	<th>{{ 'user.list.th.name'|trans }}</th>
	<th>{{ 'user.list.th.surname'|trans }}</th>
	<th>{{ 'user.list.th.date_birth'|trans }}</th>
	<th>{{ 'user.list.th.team'|trans }}</th>
	<th>&nbsp;</th>
</tr>
{% for p in player %}
<tr>
    <td>{{ p.name }}</td>
    <td>{{ p.surname }}</td>
    <td>{{ p.dateBirth|date('Y-m-d') }}</td>
    <td>
        {{ p.team.name }} 
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalChangeTeam" data-pname="{{ p.name }} {{ p.surname }}" data-pid="{{ p.playerId }}" ><i data-toggle="tooltip" title="{{ 'user.list.change_team'|trans }}" class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
    </td>
    <td>
        <a href="{{ path('panel_user_unmerge', {'player_id': p.playerId}) }}" class="btn btn-danger confirm" data-toggle="tooltip" title="Usuń zawodnika ze swojego konta"><i class="fa fa-trash-o fa-lg"></i></a>
    </td>
</tr>
{% endfor %}
</table>
</div>


<div class="modal fade" id="modalChangeTeam" tabindex="-1" role="dialog" aria-labelledby="modalChangeTeamLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'user.list.close'|trans }}"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalChangeTeamLabel"></h4>
      </div>
        <div class="modal-body" id="prl">
          <div class="form-group">
              <label>{{ 'user.list.new_team_name'|trans }}:</label>
              <input type="text" name="new_team" class="form-control" />
              <input type="hidden" name="pid" value="0" class="modal-pid" />
          </div>
          
          <p class="text-center hide"><i class="fa fa-circle-o-notch fa-spin fa-3x"></i></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'user.list.cancel'|trans }}</button>
        <button type="button" class="btn btn-primary" id="save_new_team">{{ 'user.list.send'|trans }}</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
    $(function() {
        $("#modalChangeTeam").on('hidden.bs.modal', function (event) {
            location.reload();
        });

        $("#modalChangeTeam").on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var modal = $(this);
            var param = {
                pid : button.data('pid'),
                pname : button.data('pname')
            };
            
            modal.find('.modal-pid').val(param.pid);
            modal.find('.modal-title').text(param.pname);
        });
        
        $(document).on('click', "#save_new_team", function(t){
            var param = {
                new_team : $("input[name=new_team]").val(),
                pid : $("input[name=pid]").val()
            };

            $.ajaxSetup({
                dataType: "json",
                global: false,
                type: "POST",
                url: "{{ path('site_ajax_playerChangeTeam') }}",
                beforeSend: function () {
                   $('#prl').html('<p class="text-center"><i class="fa fa-circle-o-notch fa-spin fa-3x"></i></p>');
                },
                complete: function () {
                    $('#prl').html('<p class="text-center"><strong>{{ 'user.list.info'|trans }}</strong><br /><br /><br /><button type="button" class="btn btn-default" data-dismiss="modal">{{ 'user.list.close'|trans }}</button></p>');
                }
            });
            $.ajax({
                data: param
            });
        });
        
    });
    </script>
{% endblock %}