{% extends 'layout.html.twig' %}

{% block title %}{{ 'user.merge.title'|trans }} - {{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block body %}
<div style="margin-bottom:10px;">
<ul class="nav nav-tabs" >
    <li class="active"><a href="{{ path('panel_user_merge') }}" title="{{ 'menu_panel.add'|trans }}">{{ 'menu_panel.add'|trans }}</a></li>
    <li><a href="{{ path('panel_user_list') }}" title="{{ 'menu_panel.list'|trans }}">{{ 'menu_panel.list'|trans }}</a></li>
    <li><a href="{{ path('panel_user_upc') }}" title="{{ 'menu_panel.upc'|trans }}">{{ 'menu_panel.upc'|trans }}</a></li>
</ul>
</div>

<h2>{{ 'user.merge.title'|trans }}</h2>
{{ form_start(form, {'attr': {'role': 'form'}}) }}
    {{ form_errors(form) }}
    
    <div class="form-group">{{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}</div>
    <div class="form-group">{{ form_row(form.surname, {'attr': {'class': 'form-control'}}) }}</div>
    <div class="form-inline">
        <div class="form-group">{{ form_row(form.dateBirth, {'attr': {'class': 'form-control datepicker'}}) }}</div>
        <div class="form-group">{{ form_row(form.sex, {'attr': {'class': 'form-control'}}) }}</div>
        <div class="form-group">{{ form_row(form.country, {'attr': {'class': 'form-control'}}) }}</div>
    </div>
    <div style="margin:10px 0;">
        <div class="form-group">{{ form_row(form.team, {'attr': {'class': 'form-control team-select'}}) }}</div>
    </div>    
    <div class="form-group text-center">{{ form_row(form.save, {'attr': {'class': 'btn btn-info'}}) }}</div>
    
{{ form_end(form) }}


    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
    <script>
      $(function() {
        $('input[type="date"]').attr('type','text');
        $( ".datepicker" ).datepicker({
            dateFormat : "yy-mm-dd",
            defaultDate : "-18Y",
            changeMonth : true,
            changeYear : true,
            yearRange : "-100:-3",
            monthNamesShort : [ "Sty","Lu","Mar","Kw","Maj","Cze","Lip","Sie","Wrz","Pa","Lis","Gru" ],
            dayNamesMin : [ "N","Pn","Wt","Śr","Cz","Pt","So" ]
        });
        
      });
      $('.team-select').select2();
    </script>
{% endblock %}