{% extends 'layout.html.twig' %}

{% block title %}{{ 'user.upc.title'|trans }} - {{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div style="margin-bottom:10px;">
<ul class="nav nav-tabs" >
    <li><a href="{{ path('panel_user_merge') }}" title="{{ 'menu_panel.add'|trans }}">{{ 'menu_panel.add'|trans }}</a></li>
    <li><a href="{{ path('panel_user_list') }}" title="{{ 'menu_panel.list'|trans }}">{{ 'menu_panel.list'|trans }}</a></li>
    <li class="active"><a href="{{ path('panel_user_upc') }}" title="{{ 'menu_panel.upc'|trans }}">{{ 'menu_panel.upc'|trans }}</a></li>
</ul>
</div>

<h2>{{ 'user.upc.title'|trans }}</h2>
<div class="table-responsive">
<table class="table table-hover">
<tr>
    <th style="width:40%;">{{ 'user.upc.th.name'|trans }}</th>
    <th>{{ 'user.upc.th.place'|trans }}</th>
    <th>{{ 'user.upc.th.date'|trans }}</th>
    <th>&nbsp;</th>
</tr>
{% for r in race_upc %}
<tr>
    <td><a href="{{ path('site_race_show', {'url': r.url}) }}">{{ r.name }}</a></td>
    <td>
        {% if r.gps_lat and r.gps_lng %}
            <a href="https://www.google.com/maps/dir/Current+Location/{{ r.gps_lat }},{{ r.gps_lng }}" target="_blank">{{ r.city }} <i class="fa fa-map-marker"></i></a>
        {% else %}
            {{ r.city }}
        {% endif %}
    </td>
    <td>{{ r.date|date('d.m.Y') }}</td>
    <td>
        {% if r.is_reg %}
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalSignIn" data-rname="{{ r.name }}" data-rid="{{ r.race_id }}">{{ 'user.upc.register'|trans }}</button>
        {% endif %}
        {% if r.is_sign %}
        <a href="{{ path('pdf_confirmRegistration', {'id' : r.race_id}) }}" class="btn btn-success"> <i title="Pobierz potwierdzenie" data-toggle="tooltip" class="fa fa-file-pdf-o fa-1x"></i></a>
        {% endif %}
    </td>
</tr>
{% endfor %}
</table>
</div>
    
<div class="modal fade" id="modalSignIn" tabindex="-1" role="dialog" aria-labelledby="modalSignInLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'user.upc.close'|trans }}"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalSignInLabel"></h4>
      </div>
      <div class="modal-body" id="prl">
          <p class="text-center"><i class="fa fa-circle-o-notch fa-spin fa-3x"></i></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'user.upc.close'|trans }}</button>
      </div>
    </div>
  </div>
</div>



{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
    $(function() {
        $("#modalSignIn").on('hidden.bs.modal', function (event) {
            location.reload();
        });

        $("#modalSignIn").on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var modal = $(this);
            var param = {
                rid : button.data('rid'),
                rname : button.data('rname')
            };
            
            $.ajaxSetup({
                global: false,
                type: "POST",
                url: "{{ path('site_ajax_playerRaceList') }}",
                beforeSend: function () {
                   $('#prl').html('<p class="text-center"><i class="fa fa-circle-o-notch fa-spin fa-3x"></i></p>');
                }
            });
            $.ajax({
                data: param,
                success: function (r) {
                    $('#prl').html(r);
                }
            });
            modal.find('.modal-title').text(param.rname);
        });
        
        $(document).on('click', "form[name=pr_form] input:checkbox", function(t){
            var param = {
                player : t.target.value,
                checked : (t.target.checked?1:0),
                race : $("form[name=pr_form] input[name=rid]").val()
            };
            $.ajaxSetup({
                dataType: "json",
                global: false,
                type: "POST",
                url: "{{ path('site_ajax_playerRegister') }}",
                beforeSend: function () {
                   $("#ind_"+param.player).show();
                },
                complete: function () {
                    $("#ind_"+param.player).hide();
                }
            });
            $.ajax({
                data: param
            });
        });
        
    });
    </script>
{% endblock %}