{% extends 'layout.html.twig' %}

{% block title %}{{ page.title }} - {{ parent() }}{% endblock %}

{% block body %}
    <h1 class="text-lowercase text-capitalize">{{ page.title }}</h1>
    <div>{{ page.content | raw }}</div>
{% endblock %}