{# app/Resources/views/_inc/menu.html.twig #}
<nav class="navbar navbar-default navbar-fixed-top menu" role="navigation">
  <div class="container-fluid">
    <!-- Grupowanie "marki" i przycisku rozwijania mobilnego menu -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">{{ 'menu.dropdown'|trans }}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ path('site_default_start') }}">
          <img src="{{ asset('img/logo.png', version=1.0) }}" alt="e-zawody.pl" />
      </a>
    </div>

    <!-- Grupowanie elementów menu w celu lepszego wyświetlania na urządzeniach moblinych -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav mnav">
        <li style="padding-left:20px;"><a href="{{ path('site_race_list') }}">{{ 'menu.res'|trans }}</a></li>
        <li><a href="{{ path('site_page_show', {'url': "oferta"}) }}">{{ 'menu.offer'|trans }}</a></li>
        <li><a href="{{ path('site_page_show', {'url': "kontakt"}) }}">{{ 'menu.contact'|trans }}</a></li>

      </ul>

      <ul class="nav navbar-nav navbar-right mnav">
        {% if app.user and is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <li><a href="{{ path('panel_user_upc') }}" class="sign">{{ 'menu.sign'|trans }}</a></li>
        {% endif %}
        <li class="dropdown">
         {% if app.user and is_granted('IS_AUTHENTICATED_REMEMBERED') %}
          <a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-user"></span> {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ path('panel_user_upc') }}">{{ 'menu.account'|trans }}</a></li>
            <li><a href="{{ path('fos_user_change_password') }}">{{ 'menu.change_pass'|trans }}</a></li>
            {% if app.user and is_granted('ROLE_SUPER_ADMIN') %}
            <li><a href="{{ path('site_admin_index') }}">{{ 'menu.admin_panel'|trans }}</a></li>
            {% endif %}
            <li class="divider"></li>
            <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
          </ul>
          {% else %}
          <a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-user"></span> {{ 'menu.account'|trans }}<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
            <li><a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a></li>
          </ul>
          {% endif %}
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>