{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div>
<div class="row">
<div class="col-md-8 col-md-offset-3">
    <div class="alert alert-info">{{ 'form.userbundle.info'|trans({}, 'messages') }}</div>
    {% if error %}
    <div class="alert alert-warning">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="panel panel-login">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-6">
                    <a href="{{ path('fos_user_security_login') }}" class="active" id="login-form-link">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                </div>
                <div class="col-xs-6">
                    <a href="{{ path('fos_user_registration_register') }}" id="register-form-link">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                </div>
            </div>
            <hr>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <form id="login-form" action="{{ path("fos_user_security_check") }}" method="post" role="form" style="display: block;">
                        <div class="form-group">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                            <input type="text" name="_username" id="username" tabindex="1" class="form-control" required="required" placeholder="{{ 'security.login.username'|trans }}" value="{{ last_username }}">
                        </div>
                        <div class="form-group">
                            <input type="password" name="_password" id="password" tabindex="2" class="form-control" required="required" placeholder="{{ 'security.login.password'|trans }}">
                        </div>
                        <div class="form-group text-center">
                            <input type="checkbox" tabindex="3" class="" name="_remember_me" id="remember" value="on">
                            <label for="remember"> {{ 'security.login.remember_me'|trans }}</label>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <input type="submit" name="_submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="{{ 'security.login.submit'|trans }}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="text-center">
                                        <a href="{{ path('fos_user_resetting_request') }}" tabindex="5" class="forgot-password">{{ 'form.userbundle.forgot'|trans({}, 'messages') }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
    
{#
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div class="container">
    <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
        <h1 class="form-signin-headinge">{{ 'form.userbundle.login'|trans({}, 'messages') }}</h1>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <input type="text" id="username" class="input-block-level" name="_username" value="{{ last_username }}" required="required" placeholder="{{ 'security.login.username'|trans }}" />
        <input type="password" id="password" class="input-block-level" name="_password" required="required" placeholder="{{ 'security.login.password'|trans }}" />
        <label class="checkbox">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            {{ 'security.login.remember_me'|trans }}
        </label>
        <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-large btn-primar" />
        <a href="#" class="pull-right need-help">{{ 'form.userbundle.forgot'|trans({}, 'messages') }} </a><span class="clearfix"></span>
        <a href="{{ path('fos_user_registration_register') }}" class="text-center new-account">{{ 'layout.register'|trans }}</a>
    </form>
</div>
#}
{% endblock fos_user_content %}
