{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<p class="alert alert-warning">
{{ 'resetting.check_email'|trans({'%email%': email}) }}
</p>
{% endblock %}
