{% trans_default_domain 'FOSUserBundle' %}

<div>
<div class="row">
<div class="col-md-8 col-md-offset-3">
    {% if invalid_username is defined %}
        <p class="alert alert-warning">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
    {% endif %}
    <div class="panel panel-login">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <strong>{{ 'resetting.request.submit'|trans }}</strong>
                </div>
            </div>
            <hr>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">

<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" class="form-control btn btn-login" />
    </div>
</form>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>